@import '/themes.css';

.navigation-about {
  flex: 1;  /* Added to make it share width equally */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-100);
}

.navigation-home,
.navigation-exercises,
.navigation-nutrition,
.navigation-prizes {
  color: var(--text-primary);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 0.3s ease;
}

.navigation-home::after,
.navigation-exercises::after,
.navigation-nutrition::after,
.navigation-prizes::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--accent-100);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navigation-home:hover a,
.navigation-exercises:hover a,
.navigation-nutrition:hover a,
.navigation-prizes:hover a {
  background-color: transparent;
  color: var(--accent-100);
}

.navigation-home:hover::after,
.navigation-exercises:hover::after,
.navigation-nutrition:hover::after,
.navigation-prizes:hover::after {
  width: 100%;
}

.about-page {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-height: 80vh;
  height: fit-content;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  overflow-wrap: normal;
}

.about-page-greeting {
  width: 100%;
  min-height: 50%;
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-primary);
  gap: 1%;
  padding-left: 5%;
}

.about-page-greeting h1 {
  max-width: 90%;
  color: var(--accent-100);
}

.about-page-greeting p {
  max-width: 90%;
}

.about-page-promo-container {
  width: 100%;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-page-promo-container h1 {
  color: transparent;
  background: linear-gradient(135deg, var(--accent-primary) 0%, var(--accent-tertiary) 110%);
  -webkit-background-clip: text;
}

.about-page-promo-container h2 {
  color: transparent;
  background: linear-gradient(135deg, var(--accent-primary) 0%, var(--accent-quaternary) 110%);
  -webkit-background-clip: text;
}

.about-page-promo-container h3 {
  color: transparent;
  background: linear-gradient(135deg, var(--accent-primary) 0%, var(--accent-quinary) 110%);
  -webkit-background-clip: text;
}
