.navigation-exercises {
  flex: 1;  /* Added to make it share width equally */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(186, 156, 98, 1);
}

.navigation-home,
.navigation-nutrition,
.navigation-about,
.navigation-prizes {
  color: white;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: color 0.3s ease;
}

.navigation-home::after,
.navigation-nutrition::after,
.navigation-about::after,
.navigation-prizes::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgba(186, 156, 98, 1);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navigation-home:hover a,
.navigation-nutrition:hover a,
.navigation-about:hover a,
.navigation-prizes:hover a {
  background-color: transparent;
  color: rgba(186, 156, 98, 1);
}

.navigation-home:hover::after,
.navigation-nutrition:hover::after,
.navigation-about:hover::after,
.navigation-prizes:hover::after {
  width: 100%;
}

.exercises-page {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 80vh;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  overflow-wrap: normal;
}

.exercises-page-greeting {
  width: 100%;
  min-height: 70%;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 20px;
}

.exercises-page-greeting h1 {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  line-height: 1.4;
  color: rgba(186, 156, 98, 1);
}

.exercises-page-greeting h2 {
  text-align: center;
  max-width: 80%;
  margin: 1rem auto 0;
  font-size: clamp(1rem, 3vw, 1.5rem);
  line-height: 1.4;
}





/*User Content*/
.exercises-user-workout,
.exercises-user-at-home,
.exercises-user-strength,
.exercises-user-weight-loss,
.exercises-user-flexibility,
.exercises-user-mind-body {
    padding: 2rem;
    color: white;
}

.exercises-user-workout h1,
.exercises-user-at-home h1,
.exercises-user-strength h1,
.exercises-user-weight-loss h1,
.exercises-user-flexibility h1,
.exercises-user-mind-body h1 {
    color: rgba(186, 156, 98, 1);
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.exercises-user-workout b,
.exercises-user-at-home b,
.exercises-user-strength b,
.exercises-user-weight-loss b,
.exercises-user-flexibility b,
.exercises-user-mind-body b {
    color: rgba(186, 156, 98, 1);
}

.workout-cards,
.exercises-user-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#workout-card-three-day,
#workout-card-four-day,
#workout-card-five-day,
#at-home-card-upper-body,
#at-home-card-lower-body,
#at-home-card-full-body,
#strength-upper-body,
#strength-lower-body,
#strength-full-body,
#weight-loss-cardio,
#weight-loss-aerobics,
#weight-loss-hiit,
#flexibility-stretching,
#flexibility-yoga,
#flexibility-balance,
#mind-body-breathwork,
#mind-body-sleep,
#mind-body-stress {
    background: rgba(186, 156, 98, 0.1);
    border-radius: 1rem;
    padding: 1.5rem;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#workout-card-three-day:hover,
#workout-card-four-day:hover,
#workout-card-five-day:hover,
#at-home-card-upper-body:hover,
#at-home-card-lower-body:hover,
#at-home-card-full-body:hover,
#strength-upper-body:hover,
#strength-lower-body:hover,
#strength-full-body:hover,
#weight-loss-cardio:hover,
#weight-loss-aerobics:hover,
#weight-loss-hiit:hover,
#flexibility-stretching:hover,
#flexibility-yoga:hover,
#flexibility-balance:hover,
#mind-body-breathwork:hover,
#mind-body-sleep:hover,
#mind-body-stress:hover {
    transform: translateY(-5px);
    background: rgba(186, 156, 98, 0.2);
    cursor: pointer;
}

#workout-card-three-day::before,
#workout-card-four-day::before,
#workout-card-five-day::before,
#at-home-card-upper-body::before,
#at-home-card-lower-body::before,
#at-home-card-full-body::before,
#strength-upper-body::before,
#strength-lower-body::before,
#strength-full-body::before,
#weight-loss-cardio::before,
#weight-loss-aerobics::before,
#weight-loss-hiit::before,
#flexibility-stretching::before,
#flexibility-yoga::before,
#flexibility-balance::before,
#mind-body-breathwork::before,
#mind-body-sleep::before,
#mind-body-stress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 80%;
    border-radius: 1rem;
    z-index: 0;
    opacity: 0.75;
}

#workout-card-three-day::before {
    background-image: url('/exercises/assets/three-day-split.png');
}

#workout-card-four-day::before {
    background-image: url('/exercises/assets/four-day-split.png');
}

#workout-card-five-day::before {
    background-image: url('/exercises/assets/five-day-split.png');
}

#at-home-card-upper-body::before {
    background-image: url('/exercises/assets/at-home-upper-body.png');
}

#at-home-card-lower-body::before {
    background-image: url('/exercises/assets/at-home-lower-body.png');
}

#at-home-card-full-body::before {
    background-image: url('/exercises/assets/at-home-full-body.png');
}

#strength-upper-body::before {
    background-image: url('/exercises/assets/upper-body.png');
}

#strength-lower-body::before {
    background-image: url('/exercises/assets/lower-body.png');
}

#strength-full-body::before {
    background-image: url('/exercises/assets/full-body.png');
}

#weight-loss-cardio::before {
    background-image: url('/exercises/assets/cardio.png');
}

#weight-loss-aerobics::before {
    background-image: url('/exercises/assets/aerobics.png');
}

#weight-loss-hiit::before {
    background-image: url('/exercises/assets/hiit.png');
}

#flexibility-stretching::before {
    background-image: url('/exercises/assets/stretching.png');
}

#flexibility-yoga::before {
    background-image: url('/exercises/assets/yoga.png');
}

#flexibility-balance::before {
    background-image: url('/exercises/assets/balance.png');
}

#mind-body-breathwork::before {
    background-image: url('/exercises/assets/breathwork.png');
}

#mind-body-sleep::before {
    background-image: url('/exercises/assets/sleep.png');
}

#mind-body-stress::before {
    background-image: url('/exercises/assets/stress.png');
}

.card-title {
    color: rgba(186, 156, 98, 1);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-description {
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    max-width: 50%;
    position: relative;
    z-index: 1;
}

.exercise-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.exercise-popup-overlay.show {
    background-color: rgba(0, 0, 0, 0.8);
}

.exercise-popup-content {
    background: #121518;
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 600px;
    position: relative;
    border: 1px solid rgba(186, 156, 98, 0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    max-height: 95vh;
    box-sizing: border-box;
}

.exercise-popup-content.show {
    opacity: 1;
    transform: translateY(0);
}

.exercise-popup-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.exercise-popup-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: rgba(186, 156, 98, 1);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

.exercise-popup-content h2 {
    color: rgba(186, 156, 98, 1);
    margin: 0.5rem;
    font-size: 1.8rem;
}

.exercise-popup-content p {
    color: white;
    margin: 0.5rem;
    flex-grow: 1;
}

.exercise-popup-content b {
    color: rgba(186, 156, 98, 1);
}

.exercise-popup-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: auto;
    padding-bottom: 1rem;
    width: 100%;
}

.exercise-popup-button {
    background-color: rgba(186, 156, 98, 1);
    border: none;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.exercise-popup-button:hover {
    background-color: rgba(186, 156, 98, 0.9);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(186, 156, 98, 0.4);
}

.exercise-popup-button:disabled:hover {
    background-color: rgba(186, 156, 98, 1);
    transform: none;
    box-shadow: none;
}

.exercise-popup-buttons:has(:only-child) {
    grid-template-columns: 1fr;
}

.exercise-popup-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.exercise-popup-image img {
    width: auto;
    object-fit: contain;
    max-height: 45vh;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workout-overview {
    width: 80%;
    color: white;
}

.overview-container h1 {
    text-align: center;
    color: #BA9C62;
    margin-bottom: 1.5rem;
    
}

.overview-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.overview-description {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.overview-schedule {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.schedule-day {
    background: rgba(186, 156, 98, 0.05);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
}

.schedule-day.clickable {
    cursor: pointer;
    background: rgba(186, 156, 98, 0.3);
}

.schedule-day.clickable:hover {
    background: rgba(186, 156, 98, 0.5);
    transform: translateY(-2px);
}

.schedule-day a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.schedule-day h3 {
    color: #BA9C62;
    margin-bottom: 0.5rem;
}

.schedule-day p {
    color: white;
    font-size: 0.9rem;
}

.current-day {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #BA9C62;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
    font-size: 0.8rem;
}

.workout-content {
    width: 80%;
    border-radius: 20px;
    color: white;
}

.workout-header {
    text-align: center;
    margin-bottom: 3rem;
    color: #BA9C62;
}

.workout-header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.workout-header p {
    color: white;
}

.workout-header p b {
    color: #BA9C62;
}

.workout-description {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

/* Workout sections styling */
.workout-section {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.workout-section h2 {
    color: #BA9C62;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

#main {
    background: rgba(186, 156, 98, 0.1);
}

.exercise-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.exercise-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(186, 156, 98, 0.1);
    border-radius: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 2rem;
}

.exercise-details {
    flex: 1;
    min-width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exercise-details h3 {
    color: rgba(186, 156, 98, 1);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.exercise-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.exercise-info-row {
    display: flex;
    align-items: flex-start;
}

.exercise-info-label {
    flex: 0 0 25%;
    color: #BA9C62;
    font-weight: bold;
}

.exercise-info-description {
    flex: 1;
    color: white;
}

.exercise-visual {
    flex: 1;
    max-width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

.exercise-visual img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
}

.video-guide-btn {
    background-color: rgba(186, 156, 98, 1);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.video-guide-btn:hover {
    background-color: rgba(186, 156, 98, 0.8);
}

.workout-footer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px 0;
}

.complete-workout-btn,
.save-for-later-btn {
    min-width: 160px;
    padding: 12px 32px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    box-sizing: border-box;
}

.complete-workout-btn {
    background-color: rgba(186, 156, 98, 1);
    color: #121518;
}

.complete-workout-btn:hover {
    background-color: rgb(226, 196, 138);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(186, 156, 98, 0.4);
}

.save-for-later-btn {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.save-for-later-btn:hover {
    background-color: #FFFFFF;
    color: #121518;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.complete-workout-btn:active,
.save-for-later-btn:active {
    transform: translateY(0);
    box-shadow: none;
}